/* reset */
*,::after,::before{box-sizing:border-box}ol[class],ul[class]{padding:0}blockquote,body,dd,dl,figure,h1,h2,h3,h4,ol[class],p,ul[class]{margin:0}html{font-size: 62.5%;scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}ol[class],ul[class]{list-style:none}a:not([class]){text-decoration-skip-ink:auto}img{max-width:100%;display:block}article>*+*{margin-top:1em}button,input,select,textarea{font:inherit;}img:not([alt]){filter:blur(10px)}@media (prefers-reduced-motion:reduce){*{animation-duration:0s!important;animation-iteration-count:1!important;transition-duration:0s!important;scroll-behavior:auto!important}}button{outline: 0;box-shadow: 0;cursor: pointer;}
/* font-size set to 10px per rem */

:root {
  --main-text-color: white;
  --inverse-text-color: black;
  --rainbow: linear-gradient(-45deg, rgb(77, 255, 173), rgb(52, 156, 187), rgb(179, 107, 255), rgb(243, 195, 200), rgb(255, 80, 52));

  --container-padding: 8%;
}

/* main */
body {
  color: var(--main-text-color);
  font-size: 1.8rem;
  font-family: 'Raleway', sans-serif;
  font-variant-alternates: normal;
  min-height: 100vh;
  width: 100vw;
  background: var(--rainbow);
  animation: slideBG 20s ease-in-out infinite;
  background-size: 1000% 100%;
}

@keyframes slideBG { 
  0%, 100% {background-position: top left;} 
  50% {background-position: bottom right;}
}

/* links  */
a{
  font-weight: 700;
  transition: transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  display: inline-block;
  text-decoration: none;
}
a:hover{
  transform-origin: center;
  transform: scale(.9);
}
a, a:visited {
  color: var(--rainbow);
}

/* Helper Modifiers */
.-rainbowText{
  color: transparent;
  background: var(--rainbow);
  background-clip: text;
  -webkit-background-clip: text;
  animation: slideBG 20s ease-in-out infinite;
  background-size: 500% 100%;
}

.-nextLine {
  display: block;
  width: fit-content;
  margin-left: auto;
}

/* Nav */
.nav {
  display: grid;
  grid-template-columns: 8vw auto auto auto 1fr;
  z-index: 3;
  color: var(--main-text-color);
}

.nav.-inverse {
  color: var(--inverse-text-color);
}

.nav__button {
  margin-right: 1.8rem;
  padding: 0;
  border: 0;
  background: 0;
  color: inherit;
  font-weight: 900;
  position: relative;
}

.nav__button.-active {
  font-weight: 300;
}

.nav__button.-logo {
  font-size: 4rem;
  font-family: 'ddc-bold';
  width: fit-content;
}

/* emoji  */
.emoji {
  position: absolute;
  font-size: 48px;
  transition: all 0.5s;
  z-index: 4;
}

/* footer */
.footer {
  text-align: center;
  text-transform: uppercase;
}

/* content */
.container {
  padding: var(--container-padding);
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  gap: 2rem;
  align-items: center;
  text-align: left;
}

.intro {
  font-family: 'dd-black';
  font-size: 10vw;
  line-height: 95%;
}

.shade {
  width: 100vw;
  height: 0;
  background-color: var(--main-text-color);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  will-change: height;
  transition: height .2s ease-in-out;
}

.shade.-reveal {
  height: 100vh;
}

.shadeContent{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: start;
  padding: var(--container-padding);
  overflow: hidden;
}

.shadeContent__container {
  position: absolute;
  width: calc(100vw - (2 * var(--container-padding)));
  opacity: 0;
  transform: rotateX(90deg);
  color: var(--inverse-text-color) ;
  transition: transform .2s ease-in-out, opacity .1s ease-in-out;
  will-change: transform, opactiy;
  display: grid;
  grid-gap: 6vw;
  grid-template-columns: 21px auto;
  margin-top: 10vh;
  transform-origin: top;
}

.shadeContent__container.-reveal {
  opacity: 1;
  transform: rotateX(0);
}

.shadeContent__title {
  font-size: 1.6rem;
  text-transform: uppercase;
  height: 2rem;
  width: fit-content;
  transform: rotate(90deg);
  transform-origin: 0 100%;
}

.shadeContent__header {
  font-family: 'dd-black';
  font-size: 10vw ;
  text-transform:initial;
  line-height: 90%;
  margin-bottom: 2rem;
}

.shadeContent__body {
  line-height: 2.5rem;
  margin-bottom: 4rem;

}

.shadeContent__close {
  background-color: var(--main-text-color);
  border: 1px solid #000;
  border-radius: .6rem;
  padding: 2rem 4rem;
  will-change: transform, border-color, box-shadow;
  transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out, transform .2s ease-in-out;
  transform: translate3d(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

.shadeContent__close:hover {
  border-color: transparent;
  transform: translate3d(0, -2px, 0);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 4px 0px;
}
